Repository pablotp/multi-repo-cci: changes, and which CircleCI parameters are due for each by the changed paths.
All: very-secret-key="key1", working-directory="service1", very-secret-key="key2", working-directory="service2"

Change service 2 again and again
  service2/file.txt
Due: very-secret-key="key2", working-directory="service2"

Use environment variables
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

Change service 1 again and again
  service1/file.txt
Due: very-secret-key="key1", working-directory="service1"

Change service 1 and 2
  service1/file.txt
  service2/file.txt
Due: very-secret-key="key1", working-directory="service1", very-secret-key="key2", working-directory="service2"

Test both
  service1/file.txt
  service2/file.txt
Due: very-secret-key="key1", working-directory="service1", very-secret-key="key2", working-directory="service2"

fix config service 2
  .circleci/.config.yml.swp
  .circleci/config.yml
Due: none

update both services
  .circleci/.config.yml.swp
  service1/file.txt
  service2/file.txt
Due: very-secret-key="key1", working-directory="service1", very-secret-key="key2", working-directory="service2"

Path conditions:
  very-secret-key="key1": any of: service1/.*
  working-directory="service1": any of: service1/.*
  very-secret-key="key2": any of: service2/.*
  working-directory="service2": any of: service2/.*
